{% extends "base.html" %}
{% block titulo %}Agregar Tarea{% endblock %}

{% block contenido %}

<div class="container mt-5">

  <h2 class="text-center mb-4 titulo-tarea">
    ➕ Agregar Tarea
  </h2>

  <form method="POST" action="{{ url_for('agregartarea') }}">

    <div class="mb-3">
      <label class="form-label">Nombre de la tarea</label>
      <input type="text" name="nombre" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Descripción</label>
      <textarea name="descripcion" class="form-control"></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Estado</label>

      <select name="estado" class="form-select">
        <option value="activa">Activa</option>
        <option value="despues">Dejar para después</option>
      </select>
    </div>
    

    <button class="btn btn-guardar">
      Guardar
    </button>

  </form>

</div>

{% endblock %}s