{% extends "base.html" %}
{% block titulo %}
<h1 class="text-center mt-3">Iniciar Sesión</h1>
{% endblock %}

{% block contenido %}
<div class="container my-4 pt-5">

    <div class="card shadow-lg p-4 rounded-4 mx-auto" style="background-color: #F5E6E8;">
        <h3 class="text-center mb-3" style="color:#5A5A5A;">
                   INICIA SESIÓN PARA ACCEDER A TU GESTOR DE TAREAS
                </h3>

        <form method="POST" action="/login" class="form">

            <div class="mb-3" style="">
                <label for="username" class="form-label">NOMBRE DE USUARIO</label>
                <input type="text" class="form-control" id="username" name="username" required  style="border:1px solid #C8A2AA; color:#C8A2AA; border-radius:10px;" >
            </div>

            <div class="mb-3" style="">  
                <label for="password" class="form-label">CONTRASEÑA</label>
                <input type="password" class="form-control" id="password" name="password" required  style="border:1px solid #C8A2AA; color:#C8A2AA; border-radius:10px;">
            </div>

            <div class="d-grid gap-2">
                <a href="/login" class="btn w-100 mb-3"
                       style="background-color:#C8A2AA; color:white; border-radius:10px;">
                        INICIAR SESIÓN
                    </a>
            </div>

        </form>
    </div>
</div>


{% endblock %}